* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Fragment Mono', monospace;
}
nav{
    background-color: #331818;
    height: 90px;
    width: 100%;
    position: sticky;
}
 .logo {
    color: #f4dbbd;
    font-size: 35px;
    line-height: 80px;
    padding-left: 50px ;
    font-weight: bold;
}
nav ul {
    float:right;
    margin-right: 50px;
}
nav ul li {
    display:inline-block;
    line-height: 80px;
    margin: 0 16px;
}
nav ul li a {
    text-transform: uppercase;
    color: #f4dbbd;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    
}
a.active,a:hover {
    background: #d1772d;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

body {
    background-color: #d7743b;
}
.head2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    gap: 300px
}
.barber {
    font-size: 55px;
    font-weight: bolder;
    color: #331818;
}
.search-bar {
    border-radius: 25px;
}
#search {
    height: 60px;
    width: 500px;
    border-radius: 25px;
    font-size: 20px;
    outline-color: #331818;
    background: url("img/search.png") no-repeat right;
    background-size: 30px;
    padding-left: 50px;
    background-position: 12px;
    background-color: #f4dbbd;
}

.parent {
    background-color: #331818;
    border-radius: 10px;
    width: 900px;
    margin: auto;
    height: 450px;
    overflow-y: scroll;
    
}
.child {
    background-color: #f4dbbd;
    border-radius: 10px;
    width: 840px;
    height: 90px;
    margin: 20px;
    padding: 5px;
    font-size: 35px;
    font-weight: bold;
    color: #271a1a;
}
.parent  p {
    font-size: 20px;
    font-weight: lighter;
    padding: 14px;
}
.dropdown {
    float: right;
    position: relative;
    margin-top: -80px;
    margin-right: 30px;
    font-size: 24px;
}
.dropdown button {
    background-color: #F4A261;
    padding: 10px;
    color: #331818;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.dropdown button:hover {
  background-color: #d1772d;
}

.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown-content {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
  }
  .dropdown-content .closebtn {
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 70px;
    color: #fff;
  }
  .closebtn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #d7743b;
  }
  .overlay-container {
    padding: 20px;
    background-color: #F4A261;
    width: 60%;
    height: 70vh;
    margin:auto;
    position: relative;
    top: 150px;
    border-radius: 12px;
    overflow-y: scroll;
  }
  .overlay-head {
    display: flex;
    gap: 170px;
    margin-bottom: 20px;
  }
  .overlay-head button {
    background-color: #dd6824;
    font-size: 28px;
    padding: 10px 20px;
    font-weight: 530;
  }
  .overlay-head button:hover {
    background-color: #bb551a;
    color: #f4dbbd;
  }

  .overlay-container img {
    height: 300px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/*Appointment*/
  .appo-content {
        height: 100vh;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
  }
  .appo-content .closebtn {
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 70px;
    color: #fff;
  }
  .closebtn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #d7743b;
  }
  .appo-container {
    padding: 0;
    background-color: #f4dbbd;
    width: 900px;
    height: 100vh;
    position: relative;
    margin: auto;
    top: 30px;
    display: block;
  }
  .appo-container h1 {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 30px;
    background-color: #bb551a;
    margin-bottom: 30px;
  }

  .appo-container #service, #date, #time, #name, #phone, #mail-appo {
    height: 50px;
    width: 410px;
    padding: 20px;
    border-radius: 10px;
    outline: #f4dbbd;
    font-size: 20px;
    outline: #331818 1px solid;
  }
  #submit-appo {
    height: 60px;
    width: 410px;
    position: relative;
    background-color: #F4A261;
    font-size: larger;
    font-weight: bold;
    border-radius: 12px;
    outline: #331818 1px solid;
  }
  #submit-appo:hover {
    background-color: #d1772d;
  }

.flex-item {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0;
    display:inline-block;
    
}














@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 11;

    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a:active {
        background: none;
        color: #d1772d;
    }
    #check:checked ~ ul {
        left: 0;
    }

}
@media (max-width: 1080px) {
    .head2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20vh;
        gap:8px
    }
    .dropdown {
        
        margin-top: -80px;
        margin-right: 330px;
        font-size: 24px;
    }
    .dropdown-content {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.9);
      }
    .parent {
        flex-wrap: wrap;
        background-color: #331818;
        border-radius: 10px;
        width: 100%;
        margin: auto;
        height: 450px;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
    .overlay-container {
        background-color: #F4A261;
        width: 80%;
        height: 70vh;
        margin:auto;
        position: relative;
        top: 150px;
        border-radius: 12px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 20px 1px;
}
  .overlay-head {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .overlay-head button {
    background-color: #dd6824;
    font-size: 28px;
    padding: 10px 20px;
    font-weight: 530;
    margin: 10px auto;
   
    
  }
    .overlay-head h1 {
        font-size: 33px;
    }
    .overlay-container p {
        font-size: 30px;
    }




    .appo-content .closebtn {
      position:fixed;
      top: 50px;
      right: 600px;
      font-size: 70px;
      color: #fff;
      text-align: center;
    }
    .appo-container {
      padding: 0;
      background-color: #f4dbbd;
      width: 900px;
      height: 90vh;
      position: relative;
      margin: auto;
      top: 50px;
      display: flex;
      flex-wrap: wrap;
    }
    .appo-container h1 {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-right: 300px;
    padding-top: 10px;
    padding-right: 280px;
    background-color: #bb551a;
  }

  .appo-container #service, #date, #time, #name, #phone, #mail-appo {
    height: 50px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    outline: #f4dbbd;
    font-size: 25px;
    outline: #331818 1px solid;
    margin-right: 600px;
  }
  #submit-appo {
    height: 60px;
    width: 350px;
    position: relative;
    background-color: #F4A261;
    font-size: larger;
    font-weight: bold;
    border-radius: 12px;
    outline: #331818 1px solid;
    right: 265px
  }

}